name: Build ISO
on:
  workflow_dispatch: # Allows you to run it manually

env:
  ARCH: x86_64
  IMAGE_NAME: clean-os
  IMAGE_REPO: ghcr.io/${{ github.repository_owner }}
  IMAGE_TAG: latest
  VERSION: 43
  VARIANT: Silverblue

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
     - name: Build ISO
       uses: jasonn3/build-container-installer@main
       id: build
       with:
         arch: ${{ env.ARCH}}
         image_name: ${{ env.IMAGE_NAME}}
         image_repo: ${{ env.IMAGE_REPO}}
         image_tag: ${{ env.IMAGE_TAG }}
         version: ${{ env.VERSION }}
         variant: ${{ env.VARIANT }}
         iso_name: ${{ env.IMAGE_NAME }}-${{ env.IMAGE_TAG }}-${{ env.VERSION }}.iso

# This example is for uploading your ISO as a Github artifact. You can do something similar using any cloud storage, so long as you copy the output
     - name: Upload ISO as artifact
       id: upload
       uses: actions/upload-artifact@v6
       with:
         name: ${{ steps.build.outputs.iso_name }}
         path: |
           ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}
           ${{ steps.build.outputs.iso_path }}/${{ steps.build.outputs.iso_name }}-CHECKSUM
         if-no-files-found: error
         retention-days: 0
         compression-level: 0
         
